# Ignore everything
*

# But not these files...

!.gitignore
!README.md

!starship.toml

!nushell/*
!helix/*
!exec/*
!fish/*
!kak/*
!kak-lsp/*
!bat/*
!alacritty/*

!*/

# ...and among those ignore these

nushell/config.nu
nushell/history.txt

helix/runtime

fish/fish_variables

# work-related files should be prefixed by "_work"
**/_work*
