# Ignore everything
*

# But not these files...
!.gitignore
!README.md

!helix/config.toml
!helix/languages.toml

!alacritty/*
!exec/*
!fish/*
!kak/*
!kak-lsp/*
!starship.toml

# ...even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*

