# Ignore everything...
*

# ...but not these files...

!.gitignore
!/README.md

!starship.toml

!nushell/*
!helix/*
!bin/*
!fish/*
!kak/*
!kak-lsp/*
!bat/*
!alacritty/*

!*/

# ...and among those ignore these...

nushell/history.txt
nushell/config.nu
# auto generate it to the lastest version, then just add the following at the end:
# # -- use custom files --
# use ~/.config/nushell/me.nu *; use ~/.config/nushell/_work.nu *

helix/runtime

fish/fish_variables

# ...and the work-related configs (files prefixed by "_work")

**/_work*
